@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

main {
  height: calc(100% - 6rem);
}

#__next {
  height: 100%;
}

#grid-row {
  margin: 0 auto;
  width: 100%;
  display: flex;
}

#grid-row label {
  display: inline-block;
  min-width: 5rem;
  width: 15%;
  align-self: center;
}

#grid-row input {
  display: inline-block;
  min-width: 12rem;
  width: 85%;
  padding: 0.25rem .625rem;
}

#grid-row textarea {
  display: inline-block;
  min-width: 12rem;
  width: 85%;
  padding: 0.25rem .625rem;
  min-height: 12rem;
}

.filter--block .label {
  padding: 0;
  margin-bottom: 1rem;
}

.filter--block input {
  height: 4rem;
  font-size: 1.2rem;
}
.filter--block select {
  height: 4rem;
  font-size: 1.2rem;
}

/* ====== animate css ======= */
.alert {
  animation-duration: .5s !important;
}